# Ignore build and dist folders
build/
dist/
.tmp/
app/__pycache__/
app/frames/__pycache__/
app/ui/__pycache__/
__pycache__/

# PyInstaller files
*.spec

# Virtual environments
venv/
.venv/
.buildvenv/

# Local FFmpeg binaries for packaging
vendor/ffmpeg/bin/
